/* style.css */
#game-container {
    width: 60%;
    margin: auto;
}
.player-status p {
    display: inline-block;
    padding-right: 10px;
}
button {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 10px;
}
button:hover {
    opacity: 0.8;
}